<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Links Rápidos - Service Desk N1 | Chat</title>
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3767/3767084.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/script.js" defer></script>
</head>
<body>
  <div id="login-section" class="login-section">
    <div class="login-logo">Links Rápidos - Service Desk N1 | Chat</div>
    <div class="login-box">
      <input type="text" id="username" placeholder="Usuário">
      <input type="password" id="password" placeholder="Senha">
      <button onclick="login()">Acessar</button>
    </div>
  </div>

  <div id="content">
    <header>
      <img src="https://cdn-icons-png.flaticon.com/512/3767/3767084.png" alt="Logo Pasta Amarela">
      <h1>Links Rápidos - Service Desk N1 | Chat</h1>
    </header>

    <div class="search-box">
      <input type="text" id="searchInput" placeholder="Pesquisar..." onkeyup="filterLinks()">
    </div>

    <div class="link-container">
    <div class="link-box">
      <a href="http://softcom.areaclientes.com.br/autenticacao" target="_blank"><i class="fas fa-user"></i>Área Do Cliente</a>
    </div>
    <div class="link-box">
      <a href="https://areacontador.softcomsistemas.com.br/auth/login" target="_blank"><i class="fas fa-briefcase"></i>Área Do Contador</a>
    </div>
    <div class="link-box">
      <a href="https://softcom-tecnologia.desk.blip.ai/" target="_blank"><i class="fas fa-comment-dots"></i>Blip</a>
    </div>
    <div class="link-box">
      <a href="https://www.nfe.fazenda.gov.br/portal/consultaRecaptcha.aspx?tipoConsulta=resumo&tipoConteudo=7PhJ+gAVw2g=" target="_blank"><i class="fas fa-search"></i>Consultar NF-e - Portal da Nota Fiscal Eletrônica</a>
    </div>
    <div class="link-box">
      <a href="https://www.fsist.com.br" target="_blank"><i class="fas fa-network-wired"></i>Fsist</a>
    </div>
    <div class="link-box">
      <a href="http://177.43.232.5:25123/helptools2/public" target="_blank"><i class="fas fa-tools"></i>Helptools</a>
    </div>
    <div class="link-box">
      <a href="http://177.43.232.5:25123/helptools2/public/core/promover/detalhe/id/7347" target="_blank"><i class="fas fa-book"></i>Manual Operacional - Agenda</a>
    </div>
    <div class="link-box">
      <a href="http://177.43.232.5:25123/helptools2/public/core/promover/detalhe/id/7524" target="_blank"><i class="fas fa-cogs"></i>Manual Operacional - Processos do Setor</a>
    </div>
    <div class="link-box">
      <a href="http://177.43.232.5:25123/helptools2/public/core/promover/detalhe/id/7463" target="_blank"><i class="fas fa-headset"></i>Manual Operacional PitStop - Registro de atendimento</a>
    </div>
    <div class="link-box">
      <a href="https://www.nfe.fazenda.gov.br/portal/disponibilidade.aspx?versao=0.00&tipoConteudo=P2c98tUpxrI=" target="_blank"><i class="fas fa-server"></i>Monitor SEFAZ</a>
    </div>
    <div class="link-box">
      <a href="https://portal.softcomservices.com" target="_blank"><i class="fas fa-building"></i>Portal Softcom Services</a>
    </div>
    <div class="link-box">
      <a href="https://www.softcomtecnologia.com" target="_blank"><i class="fas fa-rocket"></i>Portal Estratégico</a>
    </div>
    <div class="link-box">
      <a href="https://www.mindmeister.com/app/map/3705430695" target="_blank"><i class="fas fa-project-diagram"></i>Service Desk Flow (Mindmap)</a>
    </div>
    <div class="link-box">
      <a href="https://sitefexpress.softwareexpress.com.br/sitefweb" target="_blank"><i class="fas fa-credit-card"></i>Sitef Cliente</a>
    </div>
    <div class="link-box">
      <a href="http://10.0.150.172/" target="_blank"><i class="fas fa-key"></i>Sitef Autenticação</a>
    </div>
    <div class="link-box">
      <a href="http://softcomcollector.smobileweb.com.br/" target="_blank"><i class="fas fa-archive"></i>Liberação Collector (Antigo)</a>
    </div>
    <div class="link-box">
      <a href="http://177.43.232.5:25123/helptools2/public/core/promover/detalhe/id/7521" target="_blank"><i class="fas fa-folder-open"></i>Liberação Collector - Novo(FAQ)</a>
    </div>
    <div class="link-box">
      <a href="https://softcompay.com/login" target="_blank"><i class="fas fa-wallet"></i>Softcompay</a>
    </div>
    <div class="link-box">
      <a href="https://qualidade.softcomshop.com.br/auth/login" target="_blank"><i class="fas fa-check-circle"></i>Softcomshop Qualidade (Teste/Validações)</a>
    </div>
    <div class="link-box">
      <a href="https://validador.nfe.tecnospeed.com.br/" target="_blank"><i class="fas fa-file-alt"></i>Validador XML</a>
    </div>
  </div>
</body>
</html>